<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body id=" <%= pageID %>">

    <% include partials/header.ejs %>

    <div class="container">
        <h1>Pictures by Coons</h1>
        <h3>Welcome Friends!!!!</h3>
        <p>           
            This is just an experimental site so people can look through my pictures.  Photography is just a hobby of mine.  I don't claim to be a professional.
        </p>
        <p>
            I love nature.  I'm partial to water shots as well as critters.
       </p>
        <p>
            If you want to use any images then please just credit me. (Michael Coons) It would be nice recieving an email to know also.
        </p>

    </div>

    <% include partials/footer.ejs %>

</body>

</html>